.textoafeterhover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.container-hover {
  position: relative;
  overflow: hidden;
}

.container-hover:hover .textoafeterhover {
  opacity: 1;
  cursor: pointer;
}

