<body>

  <div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 d-flex justify-content-center">
      <div class="content-groupimg">
        <div class="w-100 bg-black my-2 container-hover" >
          <img class="img-fluid" style="height: 300px;" src="assets/servicios/database.jpeg" alt="database">
          <div class="textoafeterhover"><span>Base de Datos</span></div>
        </div>
      </div>

      <div class="content-groupimg">
        <div class="w-100 bg-black my-2 container-hover" >
          <img class="img-fluid" style="height: 300px;" src="assets/servicios/frontend.jpg" alt="frontend">
          <div class="textoafeterhover"><span>Frontend</span></div>
        </div>
      </div>

      <div class="content-groupimg">
        <div class="w-100 bg-black my-2 container-hover" >
          <img class="img-fluid" style="height: 300px;" src="assets/servicios/programdor.jpeg" alt="backend">
          <div class="textoafeterhover"> <span>Backend</span></div>
        </div>
      </div>


    </div>
    <div class="row shadow shadow-md mt-5">
        <div class="col py-4">
            <p class="text text-center p-2">{{programador}}</p>

          </div>
          <div class="d-flex justify-content-center">
          
        </div>

    </div>
  </div>

<div class="container">
  <div class="row ">
    <div class="col-12">

      <app-contacto></app-contacto>

    </div>
    <div class="">
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249743.72044819083!2d-77.12786321327516!3d-12.026286321995192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c5f619ee3ec7%3A0x14206cb9cc452e4a!2sLima!5e0!3m2!1ses!2spe!4v1703174561664!5m2!1ses!2spe"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>

      </div>

    </div>
  </div>
</div>
</body>
