<footer class=" d-flex justify-content-center mt-5 footer-footer" >
    <div class=" footer-div d-flex flex-column py-2 col-md-12 col-sm-12">
      <div class="d-flex justify-content-center mt-3">
        <ul class="">
          <li class="mx-4">
            <img class="img-redes-sociales" src="assets/facebook.png" alt=""  />
          </li>
          <li class="mx-4">
            <img class="img-redes-sociales" src="assets/whatsapp.png" alt=""  />
          </li>
          <li class="mx-4">
            <img class="img-redes-sociales" src="assets/instagram.png" alt="" />
          </li>
        </ul>
      </div>
      <div  class="d-flex justify-content-center">
        <ul>
          <li>::Inicio::</li>
          <li>:: Servicios::</li>
          <li>::Portafolio::</li>
          <li>::Tecnologia::</li>
        </ul>
      </div>
      <div class="containerf-fluid d-flex justify-content-center flex-column ">
        <div class="d-flex justify-content-center">

          <span class="text text-center text-wrap">Copyright © 2025 Rod Rodolfo •<br> based Freelance Web Designer & Developer </span>
        </div>
        <div class="d-flex justify-content-center pb-4 mb-4">

          <span >www.developer-rod.com</span>
        </div>

      </div>
    </div>
  </footer>
