
.footer-footer{
  background: rgb(67, 104, 109);
  color: rgb(210, 213, 218);
  font-size: 10px;
  width: 100%;
padding: 0px;
  left: 0px;


}
ul{
  display: flex;
  list-style: none;
  text-decoration: none;
  padding-right:25px;
}
a{
  text-decoration: none;
  color: #54678f;
}

.img-redes-sociales{
  width: 40px;
}
