/* You can add global styles to this file, and also import other style files */
:root {
  --ion-color-scheme: light;
}

h1,h2,a,p{
  font-family: "Varela Round", sans-serif;
  color:  #4b607c;
  font-size: 24px;
  border-color: none;
  scroll-behavior: smooth;
}

.botongeneral{
  background: none;
  background: linear-gradient(to right, rgb(104, 182, 31), rgb(20, 78, 19));
  width: 10rem;
  border-color: none;
  color: rgb(255, 255, 255);
  border:none;
  border-radius: 25px;
  box-shadow: 0px 0px 2px rgb(200, 237, 158);
  padding-top:10px ;
  padding-bottom:10px ;
  margin-bottom: 25px;

}

.botongeneral:hover{
  background: linear-gradient( rgb(20, 78, 19),rgb(104, 182, 31));

}

